body{
  margin:0;
}
a {
  color:black;
  text-decoration:none;
}
/*
#active {
  color:red;
}
.saw {
  color:gray;
}
*/
h1 {
  font-size: 45px;
  text-align:center;
  border-bottom:2px solid gray;
  margin:0;
  padding-top:10px;
  padding-bottom:20px;
}
#grid ul {
  border-right:2px solid gray;
  width:150px;
  margin:0;
  padding:20px;
  padding-left: 40px;
}
#article {
  padding-left:0px;
}
#grid {
  display:grid;
  grid-template-columns: 220px 1fr;
}
@media(max-width:800px){
  #grid {
    display:block;
  }
  #grid ul {
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}

/*
@media(){} => 미디어 쿼리는 반응형 웹에 사용된다.
조건이 적혀있는 선언자를 감싸주는 형태.
max-width:800px => 800px보다 작으면

display:block; 화면 전체를 가진다.
border-right:none; 오른쪽 경계선을 없앤다.
border-bottom:none; 아래쪽 경계선을 없앤다.
*/

/* <style></style> css 선언.
a{}선택자(셀렉터), 선택자 내용은 선언(declaration)또는 효과라고 함.
color:black 속성명:속성값

;(세미콜론)을 넣는 이유는 한 태그 안에 여러 선언을 구별해서 넣기 위함임.

직접 태그에 각 속성을 넣기 위해서는 style이라는 속성명을 넣어줘야함.

(class).saw 는 class="saw", 즉 saw라는 태그를 가진 선택자를 뜻함.

선택자 우선순위 id>class>기본 순이며 기준은 고유성 크기별임 / 모두 같은 종류인 경우 가장 마지막에 오는 선택자가 가장 쏌 / h1, a {}처럼 ,(콤마)로 합칠 수 있음 / 선언자1 선언자2 => 선언자1 안에 있는 선언자2를 선언자로 가짐.

class 선택자는 학급이라는 뜻으로 즉 "saw active"처럼
각각 saw, active 여러 개를 넣을 수 있음

class는 .태그명
id는 #태그명
